@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans), 
               -apple-system,      /* iPhone/Mac system font */
               BlinkMacSystemFont, /* Chrome on Mac */
               'Segoe UI',         /* Windows */
               Arial,              /* universal fallback */
               sans-serif;         /* last resort */
}